pandas
numpy
matplotlib
torch
transformers
transformers_stream_generator
einops
opencv-python-headless
Pillow
flask
flask-cors
torchvision
tiktoken
accelerate>=0.26.0
python-dotenv>=1.2.1
google-genai>=1.52.0